.footer {
    border: 1px black solid;
}

.footer ul {
    display: block;
    width: 70%;
    margin: auto;
    border: 1px black solid;
}

.footer li {
    display: inline-block;
    margin: 20px;
    border: 1px rgb(189, 54, 54) solid;
}