.App {
    background-color: #F5F1F0;
    margin-top: 20px;
    text-align: center;
    position: relative;
    min-height: 800px;
}

.slide-container {
    margin-bottom: 50px;
}

.container {
    padding: 0;
}

.App-header {
    background-color: #222;
    height: 150px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}