* {
    margin: 0;
    padding: 0;
}

.product-container {
    margin: 0 15%;
}

.product-image {
    height: 500px;
    line-height: 500px;
}

.product-1 {
    height: 100%;
    width: 100%;
}

.individual-img {
    background-color: black;
    height: 90%;
    width: 90%;
}

.product-user {
    height: 500px;
}

.product-chat {
    border: 1px solid black;
    height: 200px;
    width: 100%;
}

.product-info {
    border: 1px solid black;
}

#pictureCarouse {
    padding-top: 20px;
}

.pi {
    height: 70px;
    margin: 40px 20px;
}

.product-user-name,
.product-user-location,
.product-user-price,
.product-user-description {
    background-color: #7A7676;
    line-height: 70px;
}