* {
    margin: 0;
    padding: 0;
}

.logHead {
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.loginBack {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    text-align: center;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 999;
    text-align: center;
}

.fo {
    width: 500px;
    padding-top: 30px;
    margin: auto;
}

.md-32 {
    font-size: 50px;
}

.login-close {
    color: black;
    right: 45px;
    top: 45px;
    z-index: 100;
    position: absolute;
}

.login-close:hover {
    color: white;
}